.xyz {
    width: 100% !important;
    margin-top: 15px !important;
    height: 50px !important;
    margin-left: 10px !important;
    font-family: Josefin Sans !important;
    background-color: #1e90b3 !important;
    font-size: 15px !important;
}